*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover; 
    color:white;

}


html{
    background-image:"https://giphy.com/embed/MuAsb0Gatgo4a4BEYx";
}

p{
    letter-spacing: -10px;
    line-height:6px;
}

p:hover{
    cursor: pointer;
    letter-spacing:normal;
    line-height:normal;
}

div{
    margin-left:50px;
    margin-top: 20px;
}