body {
    background: rgb(124, 158, 156);
    font-size: 15px;
    text-align: center;
    font-family:  'Cutive Mono', monospace;
}


.circle{
    width: 75px;
    height: 75px;
    background:none;
    opacity: 0.9;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0 0 20px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
}

.circle:hover{
    opacity: 0.1;
}