img{
    object-fit: contain;
    width: auto;
    height: 90px; 
}

body{
    text-align: center; 
    background-size: cover;
}

footer{
    color:burlywood;
    font-weight: bolder;
    position:fixed;
    text-align: center;
    width: 100%;
    bottom:0;
}

a{
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(0, 0, 0);
    text-align: center;
}

.circle{
  width: 75px;
  height: 75px;
  background:none;
  opacity: 0.9;
  border-radius: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:  0 0 15px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
  }  

.circle:hover{
cursor: pointer;
}