body {
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:white;
    height: 100%;
    width: 100%;
    margin:0;
    text-align: center;
    background-image:url("img/bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#wrapper {
    height: 100%;
    width:100%;   

}

#area{
    padding: 30px;
}

h1{
    font-size: 60px;
    margin-bottom: 50px;
}

ol{
    text-align: center;
}


li {
    text-align: center;
    font-size: 2em;
    list-style-position: inside;

}

select{
    padding: 10px;
    margin-bottom: 30px;
}

#imgs{
    width: 40%;
    margin-top:5px;
    margin-left:40px;
    margin-bottom:30px;
}

#submit{
    margin-top:60px;
    padding: 10px;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.box{
    font-family: metallophile-sp8, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    background: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    margin-top:10px;
    float: center;
}