#blur{
	font-size: 40px;
	color: transparent;
	text-shadow: 0 0 14px rgb(224, 224, 224);
}

#blur1{
	font-size: 25px;
	color: transparent;
	text-shadow: 0 0 7px rgb(201, 199, 199);
}

body{
    opacity: 8;
    background-size: cover; 
}

.one{
    text-align: right;
    position: fixed;
    font-size: 40px;
    top:665px;
    left: 20%;
}

.two{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
    text-shadow: 0 0 8px rgb(255, 255, 255);
}

a{text-decoration: none;
	font-size: 25px;
	color: transparent;
    text-shadow: 0 0 7px rgb(201, 199, 199);
    cursor: pointer;
}

a:hover{text-shadow: 0 0 3px rgb(201, 199, 199);}

.circle{
    width: 75px;
    height: 75px;
    background:black;
    opacity: 0.9;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0 0 15px  rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 15px  rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 15px  rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 0 15px  rgba(255, 255, 255, 0.6);
}