body{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  color:rgb(0, 0, 0);
  background-image: url("img/bg2.png");
  /* <a href="https://www.freepik.com/free-photos-vectors/tree">Park vector created by macrovector - www.freepik.com</a>*/
  background-color: #6fcfff;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
 /* background-size: cover;*/
}

h1{
  font-size: 40px;
  margin-bottom: 0;
}

#title{
  margin-top: 50px;
}

#sub{
  font-size: 18px;
  margin:9px;
  margin-bottom: 18px;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

#image_area{
  position: absolute; 
  width: 100%;
  height: 100%;
}

.icons{
  width:17%;
  display: none;
}

#bee{
  position:absolute;
  top:0px;
  left:100px;

}

#cat{
  position:absolute;
  top:380px;
  left:160px;
}

#duck{
  position:absolute;
  top:230px;
  left:20px;
}

#dog{
  position:absolute;
  top:150px;
  left:270px;
}

#frog{
  position:absolute;
  top:500px;
  left:20px;
}

#pigeon{
  position:absolute;
  top:170px;
  right:270px;
  width:16%;
}

#squirrel{
  position:absolute;
  top:10px;
  right:100px;
}

#swan{
  position:absolute;
  top:355px;
  right:175px;
  width: 16%;
}

#skunk{
  position:absolute;
  top:500px;
  right:20px;
}

#turtle{
  position:absolute;
  top:220px;
  right:25px;
}

#content{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#aud{
  background: transparent;
  border: none !important;
  font-size:0;
}


#state_container{
  position: absolute;
  display: inline-block;
  width: 250px;
  height:100px;
  top: 286px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 0;
  /*background-color: black;*/
  z-index: -1;
}

.state_image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  width:58%;
}

#listening.visible{
  opacity: 1;
}

#button{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 1rem;
  background-color: rgb(147, 247, 119);
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 2;
}

#stop_button{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 8rem;
  background-color: rgb(255, 35, 35);
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 2;
}

#button:hover{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  color: rgb(147, 247, 119);
  border: 1px solid rgb(147, 247, 119);
  display: inline-block;  left: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 2;
}

#stop_button:hover{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  color: rgb(255, 35, 35);
  border: 1px solid rgb(255, 35, 35);
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 2;
}

#button.disabled,
#stop_button.disabled{
  font-family: chelsea-market-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: gray;
  border: 1px solid gray;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}

.result_ready #listening.visible{
  opacity: 0;
}

.result_ready #result{
  opacity: 1;
}

#input_text_container{
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 2;
  display: block;
  top: 38rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#input_text{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  align-items: top;
  z-index: 10;
  padding: 1rem;
  border-radius: 3.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  overflow: auto; 
}
