body {
    background: rgb(73, 87, 86);
    font-size: 14px;
    text-align: center;
    font-family:  'Cutive Mono', monospace;
    line-height: 10px;
    font-weight: inherit;
    color: rgb(112, 121, 121);
}

.indo{
    position: fixed;
    font-size: 20px;
    width: 512px;
    right:55%;
    opacity:2;
    line-height: 30px;
    top:50px;
    color:  rgb(65, 73, 73)
}

.text{
   position: fixed;
   font-size: 20px;
   top:70px;
   left: 55%;
   width: 512px;
   opacity:0.1;
  }

  .text:hover{
   color: rgb(59, 66, 66);
    opacity:1;
    line-height: 30px;
  }
 
.indo:hover{
    color: rgb(102, 110, 110);
    opacity:0.1;
    line-height: 10px;
}

.circle{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border:3px;
}

.name{
    size: 12pt;
}

.wrapper{
    margin: 0 auto 0 auto;
    width: 1024px;
}

a{text-decoration: none; color: rgb(112, 121, 121);}
a:hover{opacity:0.5;}

img{
    width: 2%;
    opacity: 0.2;
}


.circle{
    width: 75px;
    height: 75px;
    background:none;
    opacity: 0.9;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0 0 15px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
}

.circle:hover{

}