* { 
    box-sizing: border-box;
    vertical-align: auto;
  }
  
  
  body {
    background: rgb(255, 255, 255);
    margin: 0;
    font-size: 20px;
    font-family: 'Spirax', Helvetica, Arial, sans-serif;
  }
.wrapper{
  margin: 0 auto 0 auto;
  width:768px;
}

.long{
  height: 100px;
  width: 768px;
  background:#d0021b;
  position: relative;
  display: inline-block;
}

.square3{
  display: inline-block;
  width: 325px;
  bottom:1px;
  top:7px;
  left:8px;
  height: 67px;
  margin: 14px 0px 0px 14px;
  background: #ED2025;
  position: relative;
}

.square2{
  display: inline-block;
  width: 368px;
  height: 368px;
  background: #009e4f;
  position: relative;
}

.rel2{
  position: relative;
  top:100px;
}

  .rel1    {
  position: relative;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  }
  
  .rel{
    position: relative;
  }


  .square {
    display: inline-block;
    width: 768px;
    height: 768px;
    background: #F8E71C;
    position: relative;
  }

  .square1 {
    display: inline-block;
    width: 568px;
    height: 568px;
    background: #202665;
    position: relative;


 