*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cutive Mono', monospace;
    background: rgb(195, 207, 205);
    text-align: center;
    height: 100%;
}

.scenarios{
    font-size: 24px;
    vertical-align: bottom;
    vertical-align: top;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: max-content;
    width: 50%;
    margin-left: 25%;
}

.border{
    height: 80px;
    padding: 15px;
    background:  rgb(198, 211, 209);
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 10px;
}

.convoA{
}

.type{
    font-weight: bolder;
}

a{
    text-decoration:none;
    color: black;
}

a:hover{color:  rgb(198, 211, 209);}

element{
    clear: both;
}

input{
    background: rgb(195, 207, 205);
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: italic;
    text-align:left;
    font-family: 'Cutive Mono', monospace;
    width: 150px;
    outline: none;
}

input:hover{cursor: pointer;}

input.time{width: 360px;}
input.did{width: 450px;}
input.topic{width: 170px;}


.subject1{
    width: 50%;
    float: left;
  }

  .subject2{
    width: 50%;
    float: right;
  }

.hide{display: none;}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
}

img{
    width: 1%;
}

.circle{
    width: 75px;
    height: 75px;
    background:none;
    opacity: 0.9;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0 0 15px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 15px  rgba(0,0,0,0.6);
}