body {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgb(149, 177, 175);
    font-size: 15px;
    text-align: center;
    font-family:  'Cutive Mono', monospace;
}

.title{
    font-size: 30;
}

.header {
    background: teal;
}

.content {
    background: paleturquoise;
}

img {width: 130px; }

a{
color:rgb(149, 177, 175);
text-shadow: 0 0 1px rgb(39, 39, 39);
}

a:hover{color:azure;text-shadow: 0 0 1px rgb(255, 255, 255);}

a {text-decoration: none; }

/*.circle:hover{
    background: white;
    opacity: 0.1;
}