body {
    background: rgb(149, 177, 175);
    font-size: 15px;
    text-align: center;
    font-family:  'Cutive Mono', monospace;
}

.title{
    font-size: 20;
}

.header {
    background: teal;
}

.content {
    background: paleturquoise;
}

img {width: 130px; }

a{color:azure;}

a:hover{color:rgb(149, 177, 175)}

a {text-decoration: none; }