body {
    background: #93DAD6;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-size: 20;
}

.a {
    width: 200px; 
}
.b{
    width: 250px;
}

.header {
    background: teal;
}

.content {
    background: paleturquoise;
}

img {width: 130px; }