*{box-sizing: border-box;}

body{
  margin: 0;
  padding: 0;
  font-size: 0px;
}

html, body, .wrapper{
  height:100%;
}

.column{
  width: 50%;
  display: inline-block;
  height: 100%;
  padding: 30px;
  vertical-align: top;
}

.content{
  background: #f1f1f1;
  font-size: 20px;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item{
  border: 1px solid #000;
  padding: 10px 20px;
  margin: 0 15px 15px 0;
  display: inline-block;
  font-size: 20px;
}

.nav-item:hover,.active{
  background: black;
  color: white;
  cursor:pointer;
}

.green{background: #b8e986;}
.red{ background: #d0021b;}
.blue{background: #4a90e2;}
.sol-lewitt{
  background: cover;
  background:url('../img/sol-lewitt.gif');
}

.slay{
  background:black;
  color: white;
  font-size: 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.close{
  position: absolute;
  line-height: 0;
  font-size: 80px;
  top: 40px;
  right: 20px;
}

.hide {
  display: none;
}

.about{
  background:#ffa;
}

.about-text {
  font-size: 20px;
  line-height: 24px;