#blur{
	font-size: 40px;
	color: transparent;
	text-shadow: 0 0 8px rgb(224, 224, 224);
}

#blur1{
	font-size: 25px;
	color: transparent;
	text-shadow: 0 0 4px rgb(201, 199, 199);
}

body{
    opacity: 8;
    background-size: cover; 
}

.one{
    text-align: right;
    position: fixed;
    font-size: 40px;
    top:679px;
    left: 20%;
}

.two{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
    text-shadow: 0 0 8px rgb(255, 255, 255);
}