*{box-sizing: border-box;}

body{
  margin: 0;
  padding: 0;
  font-size: 117px;
  text-align: center;
  vertical-align: middle;
  margin:0 auto;
  font-family: study, serif;
}


button{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

button:hover{
  opacity: 0.4;
}

.generate{
  font-size: 20%;
  opacity: 0.7;
  font-family: study, serif;
}

.img{
  position: absolute;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  width: 100%; 
  transform: translate(-50%, -50%);
}

.quote{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%; 
  transform: translate(-50%, -50%);
}


.circle{
  width: 400px;
  height: 400px;
  background:white;
  opacity: 0.9;
  border-radius: 100%;
  position: fixed;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
  box-shadow:  0 0 20px  rgb(0, 0, 0);
  -moz-box-shadow: 0 0 20px  rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 20px  rgb(0, 0, 0);
  -o-box-shadow: 0 0 20px  rgb(0, 0, 0);
  z-index:2;
}

.circle:hover{
  opacity: 0.1;
}
