*{box-sizing: border-box;}

body {
     background: whitesmoke;
     margin: 0;
     text-align: center;
     font-size: 14px;
    }

 .c {
    background: #e7e7e7;
    width: 69px;
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    padding-bottom: 2px
}


.wrapper {
    width: 1114px;
    margin: 0 auto 0 auto;
    background: #e7e7e7;
}

img {width: 100%; }

a{
    color: grey;
}

a:hover {
    color: black;
