*{box-sizing: border-box;}

body {
     background: black;
     margin: 0;
     text-align: center;
     font-size: 10px;
     font-family: 'Crimson Text', serif;
    }
.wrapper{
margin: 0 auto 0 auto
}

.square {
    width:72px;
    height:53px;
    background:rgb(216, 216, 216);
    margin-top: 0px;
}

.square1{
   right:0px;
   width:72px;
   height:53px;
   background:rgb(216, 216, 216);
   margin-top: 0px;
}

.square2{
    right:0px;
    width:72px;
    height:106px;
    background:rgb(216, 216, 216);
    margin-top: 142px;
 }

 .square3{
    width:72px;
    height:106px;
    background:rgb(216, 216, 216);
    margin-top: 142px;
 }
.square4{
    right:0px;
    width:72px;
    height:106px;
    background:whitesmoke;
    margin-top: 337px;
 }

 .square5{
    width:72px;
    height:106px;
    background:rgb(216, 216, 216);
    margin-top: 337px;
 }
.square6{
    right:0px;
    width:72px;
    height:106px;
    background:rgb(216, 216, 216);
    margin-top: 532px;
 }

 .square7{
    width:72px;
    height:106px;
    background:rgb(216, 216, 216);
    margin-top: 532px;
 }

 .square8 {
    width:72px;
    height:53px;
    background:rgb(216, 216, 216);
    margin-top: 727px;
}
 .square9 {
    width:72px;
    height:53px;
    right:0px;
    background:rgb(216, 216, 216);
    margin-top: 727px;
}

.fix{
    position: fixed;
}

img {
    width: 75%; 
    padding: 10px;
    margin-top:56px;
}

/* .img1{ */
    /* margin-left: 200px;
    width: 20%;
} */

a{
    color: grey;
}

a:hover {
    color:whitesmoke;

