body {
    background: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 13%;
}

img:hover{
    width: 250px;
    height: 250px;
}
