body {
    background: rgb(73, 87, 86);
    font-size: 14px;
    text-align: center;
    font-family:  'Cutive Mono', monospace;
    line-height: 10px;
    font-weight: inherit;
    color: rgb(62, 70, 70)
}

.text{
   position: absolute;
   text-align: center;
   font-size: 50px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 1024px;
   opacity:0.1;
  }

  .text:hover{
   color: rgb(59, 66, 66);
    opacity:1;
  }
  
.name{
    size: 12pt;
}

.wrapper{
    margin: 0 auto 0 auto
    height: 1024px;
}